* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.Board {
    width: 60vw;
    aspect-ratio: 1/1;
    display: grid;
    grid-template: repeat(10,1fr) / repeat(10,1fr);
    margin: auto;
    border: 5px black solid;
    max-width: 100vh;
}

.Position {
    border: 2px blue solid;
    background-color: rgb(0, 0, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoardItem {
    color: white;
    margin: auto;
    font-size: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    width: 100%;
}

.SpriteE {
}

.SpriteT {
    
    background-image: url("./TreasureChest.png");
}

.Sprite1 {
    background-image: url("./Player1.png");
}

.Sprite2 {
    background-image: url("./Player2.png");
}

.SpriteR {
    background-image: url("./Obstacle.png");
}