* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.Board {
    width: 60vw;
    aspect-ratio: 1/1;
    display: grid;
    grid-template: repeat(10,1fr) / repeat(10,1fr);
    margin: auto;
    border: 5px black solid;
    max-width: 100vh;
}

.Position {
    border: 2px blue solid;
    background-color: rgb(0, 0, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoardItem {
    color: white;
    margin: auto;
    font-size: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    width: 100%;
}

.Controller {
    position: absolute;
    top: 2em;
    left: 2em;
    display: grid;
    width: 10em;
    height: 10em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: ". North ." "West . East" ". South .";
}

.Button {
    font-size: 2em;
}

.NorthButton {
    grid-area: North;
}

.EastButton {
    grid-area: East;
    transform: rotate(90deg);
}

.SouthButton {
    grid-area: South;
    transform: rotate(180deg);
}

.WestButton {
    grid-area: West;
    transform: rotate(270deg);
}

.SpriteT {
    
    background-image: url("./TreasureChest.png");
}

.Sprite1 {
    background-image: url("./Player1.png");
}

.Sprite2 {
    background-image: url("./Player2.png");
}

.SpriteR {
    background-image: url("./Obstacle.png");
}

.SpriteU {
    background-image: url("./Unknown.png");
}